@import 'fonts';
@import '_/*';
@import "node_modules/swiper/swiper";

*,
*:after,
*:before {
  box-sizing: border-box;
}

a,
button,
input {
  -webkit-tap-highlight-color: transparent;
}

body,
html {
  height: 100%;
}

#app {
  background: $white;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

body {
  background: $white;
  font-family: $default-font;
  font-weight: normal;
}

.app-inner {
  flex: 1 0 auto;
}

.skip-link {
  position: absolute;
  bottom: 100%;
  left: 0;
  background: $dark;
  color: $white;
  padding: 8px;
  z-index: 100;
}

#svg-sprite {
  height: 0;
  width: 0;
  position: absolute;
  visibility: hidden;
}

.skip-link:focus {
  top: 0;
  bottom: auto;
}

.container {
  max-width: $container-width;
  padding-left: $container-padding;
  padding-right: $container-padding;
  margin-left: auto;
  margin-right: auto;
}

.seo-title {
  text-transform: uppercase;
  color: $brown;
  font-size: 16px;
  font-family: $lato-font;
  font-weight: bold;
  letter-spacing: 1.5px;
  background-image: linear-gradient(transparentize($brown, .85), transparentize($brown, .85));
  background-position: 0 9px;
  background-size: 100% 14px;
  background-repeat: repeat-x;
  display: inline-block;
  padding-bottom: 5px;
}

.container-fluid {
  padding-left: $container-padding;
  padding-right: $container-padding;
  position: relative;
  z-index: 1;

  &_left {
    .column:first-child {
      @include respond(1190px) {
        margin-left: calc((100% - 1140px) / 2);
      }
    }
  }

  &_right {
    .column:last-child {
      @include respond(1190px) {
        margin-right: calc((100% - 1140px) / 2);
      }
    }
  }
}

.swiper-action {
  @include respond(0, $mobile) {
    justify-content: flex-end;
  }
}

.container-wild {
  max-width: $container-width;
  @include respond($mobile) {
    padding-left: $container-padding;
    padding-right: $container-padding;
  }
  margin-left: auto;
  margin-right: auto;
}

footer {
  background: $white;
  padding-bottom: 30px;

  .communication {
    padding-top: 18px;

    @include respond(0, $mobile) {
      justify-content: center;
    }

    @include respond($mobile) {
      justify-content: flex-end;
    }
  }

  @include respond($mobile) {
    display: flex;
  }
  @include respond(0, $mobile) {
    .phone-link {
      margin-top: 10px;
    }
  }

  .footer-column {
    @include respond($mobile) {
      max-width: 245px;
    }
    @include respond(0, $mobile) {
      text-align: center;
    }
  }

  .app-logo {
    max-width: 245px;
    width: 100%;
  }

  .app-panel {
    @include respond($mobile) {
      max-width: 760px;
    }
  }

  nav {
    @include respond(0, $mobile) {
      flex-direction: column;
      align-items: center;
      margin-bottom: 10px;
    }

    a {
      @include respond($mobile) {
        padding: 14px 0 13px 0;
      }
      @include respond(0, $mobile) {
        padding: 8px 0;
      }
      @include respond($mobile) {
        &:before {
          background: $brown;
          opacity: 0;
          content: '';
          position: absolute;
          top: 0;
          left: 0;
          right: 0;
          margin: 0 auto;
          width: 0;
          height: 1px;
          transition: width $transition-delay ease;
        }
      }

    }

    &:after {
      @include respond($mobile) {
        background: transparentize($brown, .8);
      }
    }
  }

  .app-panel_block {
    @include respond($mobile) {
      padding-top: 58px;
      padding-bottom: 15px;
    }
    @include respond(0, $mobile) {
      padding-top: 30px;
      padding-bottom: 15px;
    }

    a {
      padding: 10px 0;
    }

    @include respond(0, $mobile) {
      flex-direction: column;
    }
    @include respond($mobile) {
      margin-left: auto;
      max-width: 535px;
    }
  }
}

header,
footer {
  .phone-link {
    font-size: 20px;
    color: $brown-light;
    font-weight: 800;
    line-height: 0.9;
    letter-spacing: 1.5px;
    display: flex;
    align-items: center;
  }
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: $white;

  nav {
    a {
      padding: 14px 0 13px 0;

      &:before {
        background: $dark;
      }

      &:before {
        opacity: 0;
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        margin: 0 auto;
        width: 0;
        height: 1px;
        background: $dark;
        transition: width $transition-delay ease;
      }
    }

    &:after {
      background: transparentize($dark, .8);
    }
  }

  .app-panel {
    max-width: 786px;

    @include respond(0, $mobile) {
      display: none;
    }
  }

  .app-panel_block {
    padding-top: 26px;
    padding-bottom: 14px;
  }

  .app-logo {
    @include respond($mobile) {
      max-width: 245px;
    }
  }

}

.button-blank {
  background: transparent;
  padding: 0;
  border: 0;
}

.phone-icon {
  fill: $brown;
  margin-right: 8px;
}

.select {
  cursor: pointer;
  display: flex;
  align-items: center;
}

nav {
  display: flex;
  justify-content: space-between;
  position: relative;

  &:after {
    position: absolute;
    content: '';
    height: 1px;
    left: 0;
    right: -200%;
    top: 0;
  }

  a {
    font-size: 18px;
    font-weight: 300;
    color: transparentize($dark, .5);
    transition: color $transition-delay ease;
    letter-spacing: 1.45px;
    position: relative;

    &:hover {
      color: $dark;

      &:before {
        opacity: 1;
        width: 40px;
      }
    }
  }
}

.app-panel {
  flex: 1;
  letter-spacing: .7px;
  margin-left: auto;

  @include respond($mobile) {
    padding-left: 15px;
  }

  .app-panel_block {
    font-size: 12px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-transform: uppercase;

    .location {
      display: flex;
      align-items: center;

      a {
        color: $dark;
      }

      .pin {
        fill: $brown;
        margin-right: 7px;
        display: block;
        transform: translateY(-1px);
      }
    }

    .action-link {
      color: $dark;
      font-weight: 300;
      transition: color $transition-delay ease;

      &:hover {
        color: $brown;
      }

      svg {
        fill: $brown;
        margin-right: 5px;
      }
    }

  }

  .select {
    transform: translateY(-1px);

    span {
      font-weight: 500;
      margin: 0 10px;
    }

    svg {
      transform: translateY(1px);
    }
  }

  a {
    text-decoration: none;
  }
}

.app-logo {
  background: $logo-background;
  text-align: center;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  flex: 1;
  max-height: 105px;

  @include respond(0, $mobile) {
    padding: 10px 12px;
  }
  @include respond($mobile) {
    padding: 19px;
  }

  img {
    display: block;
    max-width: 100%;
    height: auto;
  }
}

.burger {
  width: 35px;
  height: 22px;
  flex-direction: column;
  justify-content: space-between;
  cursor: pointer;
  margin-left: 15px;
  margin-right: 15px;

  &:focus,
  &:hover {
    .burger-line {
      background: $brown;
    }
  }

  @include respond($mobile) {
    display: none;
  }

  @include respond(0, $mobile) {
    display: flex;
  }

  .burger-line {
    height: 1px;
    width: 100%;
    background: $dark;
    transition: background $transition-delay ease;
  }
}

.swiper-pagination-bullets {

  &[dir="ltr"] {
    .swiper-pagination-bullet {
      &:not(:last-child) {
        margin-right: 10px;
      }
    }
  }

  &[dir="rtl"] {
    .swiper-pagination-bullet {
      &:not(:last-child) {
        margin-left: 10px;
      }
    }
  }

  .swiper-pagination-bullet {
    cursor: pointer;
    width: 30px;
    height: 15px;
    border-top: 1px solid transparentize($brown, .5);
    display: block;

    &-active {
      border-top: 1px solid $brown;
    }
  }
}

.slider-prev {
  transform: rotate(180deg);
}

.swiper-container {

  &.swiper-container-initialized {
    opacity: 1;
  }

  &:not(.swiper-container-initialized) {
    opacity: 0;
  }
}

.slider-prev,
.slider-next {
  background: transparent;
  width: 50px;
  height: 50px;
  border: 1px solid $brown;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  cursor: pointer;
  transition: background $transition-delay ease;

  svg {
    fill: $brown;
    transition: fill $transition-delay ease;
  }

  &:focus,
  &:hover {
    background: $brown;

    svg {
      fill: $white;
    }
  }
}

blockquote {
  @include respond($mobile) {
    font-size: 21px;
  }
  @include respond(0, $mobile) {
    font-size: 16px;
  }
  line-height: 1.429;
  @include respond($mobile) {
    padding-left: 195px;
  }
  @include respond(0, $mobile) {
    padding-top: 5px;
  }
  margin: 0;
  position: relative;
  padding-bottom: 24px;

  &:before {
    content: '“';
    @include respond($mobile) {
      position: absolute;
    }
    @include respond(0, $mobile) {
      display: block;
      line-height: 0;
      margin: 20px 0 5px 0;
    }
    font-size: 72px;
    font-family: $lato-font;
    font-weight: bold;
    left: 95px;
    top: -15px;
  }
}

.category {
  font-family: $lato-font;
  font-weight: bold;
  font-size: 16px;
  text-transform: uppercase;
  letter-spacing: 1px;
  color: transparentize($brown, .5);
}

.date {
  font-weight: 300;
  font-size: 16px;
  margin-right: 20px;
}

.slider-button {
  background: transparent;
  width: 45px;
  height: 45px;
  border: 1px solid $brown;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  cursor: pointer;
  transition: background $transition-delay ease;

  svg {
    fill: $brown;
    transition: fill $transition-delay ease;
  }

  &:hover {
    background: $brown;

    svg {
      fill: $white;
    }
  }
}

.swiper-action {
  display: flex;
  padding-top: 10px;

  button:first-child {
    margin-right: 12px;
  }
}

.communication {
  display: flex;
  align-items: center;

  &.communication-light {
    svg {
      fill: $white;
    }

    a {
      border: 1px solid $white;

      &:focus,
      &:hover {
        background: $brown;
        border: 1px solid $brown;

        svg {
          fill: $white;
        }
      }
    }
  }

  &.communication-brown {
    svg {
      fill: $brown;
    }

    a {
      border: 1px solid $brown;

      &:focus,
      &:hover {
        background: $brown;

        svg {
          fill: $white;
        }
      }
    }
  }

  svg {
    transition: fill $transition-delay ease;

    @include respond($mobile) {
      transform: translateY(-2px);
    }
    @include respond(0, $mobile) {
      transform: scale(0.7);
    }
  }

  a {
    border-radius: 0 30px 30px 30px;
    @include respond($mobile) {
      width: 60px;
      height: 60px;
    }
    @include respond(0, $mobile) {
      width: 45px;
      height: 45px;
    }
    display: inline-flex;
    align-items: center;
    justify-content: center;
    transition: background $transition-delay ease, border-color $transition-delay ease;

    &:not(:last-child) {
      @include respond($mobile) {
        margin-right: 20px;
      }
      @include respond(0, $mobile) {
        margin-right: 14px;
      }
    }
  }
}

.contact-block {
  margin: 22px 0 0;
  padding: 0;
  list-style: none;
  letter-spacing: 1px;
  display: flex;
  flex-direction: column;

  @include respond(0, $mobile) {
    align-items: center;
  }

  svg {
    fill: $brown;

    @include respond(0, $mobile) {
      display: none;
    }
  }

  li {
    display: inline-flex;
    font-weight: 300;
    line-height: 1.389;

    @include respond($mobile) {
      font-size: 18px;
    }

    &:not(:last-child) {
      margin-bottom: 14px;
    }

    svg {
      margin-right: 15px;
      min-width: 10px;
    }

    &:first-child {
      svg {
        transform: translateY(10px);
      }
    }

    &:not(:first-child) {
      svg {
        transform: translateY(9px);
      }
    }
  }
}

.email-link {
  font-size: 21px;
  font-weight: 800;
  color: $brown-light;
  text-decoration: none;
  border-bottom: 1px solid;
  line-height: 1.2;
}

.container-footer {
  flex: 0 0 auto;
}

.button {
  width: 100%;
  height: 60px;
  background: transparent;
  border: none;
  font-family: $lato-font;
  border-radius: 0 30px 30px 30px;
  cursor: pointer;
  @include respond($mobile) {
    font-size: 16px;
  }
  @include respond(0, $mobile) {
    font-size: 14px;
  }
  line-height: 1.875;
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: .6px;
  transition: border-radius $transition-delay ease;
  user-select: none;

  &:focus,
  &:hover {
    border-radius: 30px;
  }

  &-brown {
    background: $brown;
    color: $white;
    max-width: 190px;
  }

  &-request {
    background: $brown;
    color: $white;
    max-width: 210px;
  }

  &-clear {
    background: transparent;
    max-width: 190px;
    color: $brown;
    box-shadow: inset 0 0 0 1px $brown;
  }
}

.train {
  position: fixed;
  @include respond($mobile) {
    right: 40px;
    bottom: 40px;
    width: 60px;
    height: 60px;
  }
  @include respond(0, $mobile) {
    //right: 12px;
    //bottom: 84px;
    //width: 50px;
    //height: 50px;
    display: none;
  }
  border-radius: 50%;
  background: $brown;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
  cursor: pointer;
  opacity: 0;
  transition: opacity $transition-delay ease, background $transition-delay ease;

  &:hover {
    background: $brown-light;
  }

  svg {
    transform: rotate(-90deg);
    fill: $white;
  }
}

.fade-in {
  opacity: 1;
}

.brown-text {
  color: $brown;
}

.z-1 {
  z-index: 1;
  position: relative;
}

.more-link_pointer {
  opacity: 0;
  transition: opacity $transition-delay ease;
  font-family: $lato-font;
  color: $brown;
  @include respond($mobile) {
    font-size: 16px;
  }
  @include respond(0, $mobile) {
    font-size: 14px;
  }
  font-weight: bold;
  text-decoration: none;
  text-transform: uppercase;
  margin-left: auto;
  letter-spacing: 1px;
  display: inline-flex;
  align-items: center;

  svg {
    fill: $brown;
    margin-left: 10px;
  }
}
