@import 'fonts';
@import '_/*';
@import "node_modules/swiper/swiper";

*,
*:after,
*:before {
  box-sizing: border-box;
}

a,
button,
input {
  -webkit-tap-highlight-color: transparent;
}

body,
html {
  height: 100%;
}

.counter {
  position: absolute;
  top: -24px;
  right: 72px;
  color: $white;
  z-index: 2;
  width: 44px;
  font-family: $lato-font;
  font-weight: bold;
  font-size: 22px;
  height: 44px;
  background: $brown;
  box-shadow: 0 0 0 8px transparentize($brown, .5);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;

  &:before {
    content: '';
    position: absolute;
    left: -20px;
    right: 0;
    top: 0;
    width: 82px;
    height: 82px;
    bottom: 0;
    margin: auto;
    border: 1px solid transparentize($brown, .5);
    border-radius: 50%;
    display: block;
  }
}

.numbers {
  position: relative;
  letter-spacing: 8px;

  &:not(.pl) {
    padding-left: 16px;
  }

  &.pl {
    padding-left: 28px;
    transform: translateY(-12px);
  }

  &.mt {
    margin-top: 72px;
  }

  @include respond(0, $mobile) {
    &.invisible {
      display: none;
    }
  }

  .shield {
    position: absolute;
    left: -5px;
    top: 11px;
    z-index: 2;
  }
}

.number {
  font-size: 180px;
  color: $brown;
  font-weight: 800;
  pointer-events: none;
  user-select: none;
  position: relative;
  z-index: 1;

  &-green {
    background: linear-gradient(206deg, #133055 36%, #047152);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
}

.number-medium {
  font-size: 150px;
  color: $brown;
  font-weight: 800;
  pointer-events: none;
  user-select: none;
  position: relative;
  z-index: 1;

  &-green {
    background: linear-gradient(206deg, #133055 36%, #047152);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
}

.number-small {
  @include respond($mobile) {
    font-size: 100px;
  }
  @include respond(0, $mobile) {
    font-size: 80px;
  }
  color: $brown;
  font-weight: 800;
  pointer-events: none;
  user-select: none;
  position: relative;
  z-index: 1;

  &-green {
    background: linear-gradient(206deg, #133055 36%, #047152);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
}

.number-xs {
  @include respond($mobile) {
    font-size: 70px;
  }
  @include respond(0, $mobile) {
    font-size: 50px;
  }
  color: $brown;
  font-weight: 800;
  pointer-events: none;
  user-select: none;
  position: relative;
  z-index: 1;

  &.number-green {
    background: linear-gradient(183deg, #133055 36%, #047152);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
}

.number-shadow_medium {
  font-size: 150px;
  color: transparentize($brown, .9);
  font-weight: 800;
  pointer-events: none;
  user-select: none;
  position: absolute;
  left: 37px;
  top: 10px;
  z-index: 0;
}

.number-shadow_xs {
  @include respond($mobile) {
    font-size: 70px;
  }
  @include respond(0, $mobile) {
    font-size: 50px;
  }
  color: transparentize($brown, .9);
  font-weight: 800;
  pointer-events: none;
  user-select: none;
  position: absolute;
  left: 37px;
  top: 10px;
  z-index: 0;
}

.number-shadow_small {
  @include respond($mobile) {
    font-size: 100px;
  }
  @include respond(0, $mobile) {
    font-size: 80px;
  }
  color: transparentize($brown, .9);
  font-weight: 800;
  pointer-events: none;
  user-select: none;
  position: absolute;
  left: 37px;
  top: 10px;
  z-index: 0;
}

.number-shadow {
  font-size: 180px;
  color: transparentize($brown, .9);
  font-weight: 800;
  pointer-events: none;
  user-select: none;
  position: absolute;
  left: 37px;
  top: 10px;
  z-index: 0;
}

#app {
  background: $white;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  min-height: 100%;

  &.frontpage {
    picture {
      img {
        display: block;
        max-width: 100%;
      }
    }

    .burger-line {
      background: $white;
    }

    .location {
      .select svg {
        fill: $white;
        transition: fill $transition-delay ease;
      }

      &:hover {
        .select svg {
          fill: $brown;
        }
      }
    }

    header {
      nav {
        a {
          color: transparentize($white, .5);

          &:before {
            background: $white;
          }

          &:hover {
            color: $white;
          }
        }

        &:after {
          background: transparentize($white, .8);
        }
      }

      .app-panel_block {
        color: $white;
      }
    }

    .burger {
      &:hover {
        .burger-line {
          background: $brown;
        }
      }
    }

    .container-wild {
      position: absolute;
      left: 0;
      right: 0;
      top: 0;
      overflow: hidden;
      z-index: 1;
    }

  }

  &:not(.frontpage) {
    .burger-line {
      background: $dark;
    }

    .location {
      .select svg {
        transition: fill $transition-delay ease;
      }

      &:hover {
        .select svg {
          fill: $brown;
        }
      }
    }

    nav {
      a {
        &:before {
          background: $dark;
        }

        color: transparentize($dark, .5);

        &:hover {
          color: $dark;
        }
      }

      &:after {
        background: transparentize($dark, .8);
      }
    }
  }
}

body {
  background: $white;
  font-family: $default-font;
  font-weight: normal;
}

.app-inner {
  flex: 1 0 auto;
}

.skip-link {
  position: absolute;
  bottom: 100%;
  left: 0;
  background: $dark;
  color: $white;
  padding: 8px;
  z-index: 100;
}

#svg-sprite {
  height: 0;
  width: 0;
  position: absolute;
  visibility: hidden;
}

.skip-link:focus {
  top: 0;
  bottom: auto;
}

svg[width="0"] {
  position: absolute;
  pointer-events: none;
  z-index: -999;
  left: -999px;
}

.container {
  max-width: $container-width;
  padding-left: $container-padding;
  padding-right: $container-padding;
  margin-left: auto;
  margin-right: auto;
}

.seo-title {
  text-decoration: none;
  text-transform: uppercase;
  color: $brown;
  font-size: 16px;
  font-family: $lato-font;
  font-weight: bold;
  letter-spacing: 1.5px;
  background-position: 0 9px;
  background-size: 100% 14px;
  background-repeat: repeat-x;
  display: inline-block;
  padding-bottom: 5px;
  position: relative;

  &:before {
    content: '';
    position: absolute;
    left: -6px;
    right: -6px;
    bottom: 3px;
    background: transparentize($brown, .85);
    height: 12px;
    pointer-events: none;
  }
}

.container-fluid {
  padding-left: $container-padding;
  padding-right: $container-padding;
  position: relative;
  z-index: 1;

  &_left {
    .column:first-child {
      @include respond(1190px) {
        margin-left: calc((100% - 1140px) / 2);
      }
    }
  }

  &_right {
    .column:last-child {
      @include respond(1190px) {
        margin-right: calc((100% - 1140px) / 2);
      }
    }
  }
}

.swiper-action {
  @include respond(0, $mobile) {
    justify-content: flex-end;
  }
}

.container-wild {
  max-width: $container-width;
  @include respond($mobile) {
    padding-left: $container-padding;
    padding-right: $container-padding;
  }
  margin-left: auto;
  margin-right: auto;
}

footer {
  background: $white;
  padding-bottom: 30px;

  .communication {
    padding-top: 18px;

    @include respond(0, $mobile) {
      justify-content: center;
    }

    @include respond($mobile) {
      justify-content: flex-end;
    }
  }

  @include respond($mobile) {
    display: flex;
  }
  @include respond(0, $mobile) {
    .phone-link {
      margin-top: 10px;
    }
  }

  .footer-column {
    @include respond($mobile) {
      max-width: 245px;
    }
    @include respond(0, $mobile) {
      text-align: center;
    }
  }

  .app-logo {
    max-width: 245px;
    width: 100%;
  }

  .app-panel {
    @include respond($mobile) {
      max-width: 760px;
    }
  }

  nav {
    @include respond(0, $mobile) {
      flex-direction: column;
      align-items: center;
      margin-bottom: 10px;
    }

    a {
      @include respond($mobile) {
        padding: 14px 0 13px 0;
      }
      @include respond(0, $mobile) {
        padding: 8px 0;
      }
      @include respond($mobile) {
        &:before {
          background: $brown;
          opacity: 0;
          content: '';
          position: absolute;
          top: 0;
          left: 0;
          right: 0;
          margin: 0 auto;
          width: 0;
          height: 1px;
          transition: width $transition-delay ease;
        }
      }

    }

    &:after {
      @include respond($mobile) {
        background: transparentize($brown, .8);
      }
    }
  }

  .app-panel_block {
    @include respond($mobile) {
      padding-top: 58px;
      padding-bottom: 15px;
    }
    @include respond(0, $mobile) {
      padding-top: 30px;
      padding-bottom: 15px;
    }

    a {
      padding: 10px 0;
    }

    @include respond(0, $mobile) {
      flex-direction: column;
    }
    @include respond($mobile) {
      margin-left: auto;
      max-width: 535px;
    }
  }
}

header,
footer {
  .phone-link {
    font-size: 20px;
    color: $brown-light;
    font-weight: 800;
    line-height: 0.9;
    letter-spacing: 1.5px;
    display: flex;
    align-items: center;
  }
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;

  nav {
    a {
      padding: 14px 0 13px 0;

      &:before {
        background: $dark;
      }

      &:before {
        opacity: 0;
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        margin: 0 auto;
        width: 0;
        height: 1px;
        background: $dark;
        transition: width $transition-delay ease;
      }
    }
  }

  .app-panel {
    max-width: 786px;

    @include respond(0, $mobile) {
      display: none;
    }
  }

  .app-panel_block {
    padding-top: 26px;
    padding-bottom: 14px;
  }

  .app-logo {
    @include respond($mobile) {
      max-width: 245px;
    }
  }

}

.button-blank {
  background: transparent;
  padding: 0;
  border: 0;
}

.phone-icon {
  fill: $brown;
  margin-right: 8px;
}

.select {
  cursor: pointer;
  display: flex;
  align-items: center;
}

footer {
  nav {
    a {
      color: transparentize($dark, .5);

      &:hover {
        color: $dark;
      }
    }
  }
}

nav {
  display: flex;
  justify-content: space-between;
  position: relative;

  &:after {
    position: absolute;
    content: '';
    height: 1px;
    left: 0;
    right: -200%;
    top: 0;
  }

  a {
    font-size: 18px;
    font-weight: 300;
    transition: color $transition-delay ease;
    letter-spacing: 1.45px;
    position: relative;

    &:hover {
      &:before {
        opacity: 1;
        width: 40px;
      }
    }
  }
}

.app-panel {
  flex: 1;
  letter-spacing: .7px;
  margin-left: auto;

  @include respond($mobile) {
    padding-left: 15px;
  }

  .app-panel_block {
    font-size: 12px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-transform: uppercase;

    .location {
      display: flex;
      align-items: center;

      a {
        color: inherit;
        transition: color $transition-delay ease;

        &:hover {
          color: $brown;
        }
      }

      .pin {
        fill: $brown;
        margin-right: 7px;
        display: block;
        transform: translateY(-1px);
      }
    }

    .action-link {
      color: inherit;
      font-weight: 300;
      transition: color $transition-delay ease;

      &:hover {
        color: $brown;
      }

      svg {
        fill: $brown;
        margin-right: 5px;
      }
    }

  }

  .select {
    transform: translateY(-1px);

    span {
      font-weight: 500;
      margin: 0 10px;
    }

    svg {
      transform: translateY(1px);
    }
  }

  a {
    text-decoration: none;
  }
}

.app-logo {
  background: $logo-background;
  text-align: center;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  flex: 1;
  max-height: 105px;

  @include respond(0, $mobile) {
    padding: 10px 12px;
  }
  @include respond($mobile) {
    padding: 19px;
  }

  img {
    display: block;
    max-width: 100%;
    height: auto;
  }
}

.slider-button {
  color: $brown;
  transition: color $transition-delay ease, background $transition-delay ease;
  font-size: 20px;
  font-weight: 600;

  &:hover {
    color: $white;
  }
}

.swiper-navigation {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 33px;

  @include respond($mobile) {
    padding-bottom: 125px;
  }
  @include respond(0, $mobile) {
    &:not(.navigation-service) {
      display: none;
    }
  }
}

.swiper-pages {
  display: flex;

  .active {
    background: $brown;
    color: $white;
  }

  button:not(:first-child),
  button:not(:last-child) {
    margin: 0 7px;
  }
}

.slider-prev {
  @include respond($mobile) {
    margin-right: 10px;
  }
  @include respond(0, $mobile) {
    margin-right: 10px;
  }
}

.non-swiper-slide {
  display: none;
}

.slider-next {
  @include respond($mobile) {
    margin-left: 10px;
  }
  @include respond(0, $mobile) {
    margin-left: 10px;
  }
}

.burger {
  width: 35px;
  height: 22px;
  cursor: pointer;
  margin-left: 15px;
  margin-right: 15px;

  @include respond($mobile) {
    display: none;
  }

  @include respond(0, $mobile) {
    display: block;
  }

  .burger-line {
    height: 1px;
    width: 100%;

    &:not(:last-child) {
      margin-bottom: 10px;
    }

    display: block;
    background: $dark;
    transition: background $transition-delay ease;
  }
}

.swiper-pagination-bullets {
  &:not(.custom) {
    &[dir="ltr"] {
      .swiper-pagination-bullet {
        &:not(:last-child) {
          margin-right: 10px;
        }
      }
    }

    &[dir="rtl"] {
      .swiper-pagination-bullet {
        &:not(:last-child) {
          margin-left: 10px;
        }
      }
    }

    .swiper-pagination-bullet {
      cursor: pointer;
      width: 30px;
      height: 15px;
      border-top: 1px solid transparentize($brown, .5);
      display: block;

      &-active {
        border-top: 1px solid $brown;
      }
    }
  }
}

.slider-prev {
  transform: rotate(180deg);
}

.swiper-container {

  &.swiper-container-initialized {
    opacity: 1;
  }

  &:not(.swiper-container-initialized) {
    opacity: 0;
  }
}

.slider-prev,
.slider-next {
  background: transparent;
  width: 50px;
  height: 50px;
  border: 1px solid $brown;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  cursor: pointer;
  transition: background $transition-delay ease;

  svg {
    fill: $brown;
    transition: fill $transition-delay ease;
  }

  &:hover {
    background: $brown;

    svg {
      fill: $white;
    }
  }
}

blockquote {
  @include respond($mobile) {
    font-size: 21px;
  }
  @include respond(0, $mobile) {
    font-size: 16px;
  }
  line-height: 1.429;
  @include respond($mobile) {
    padding-left: 195px;
  }
  @include respond(0, $mobile) {
    padding-top: 5px;
  }
  margin: 0;
  position: relative;
  padding-bottom: 24px;

  &:before {
    content: '“';
    @include respond($mobile) {
      position: absolute;
    }
    @include respond(0, $mobile) {
      display: block;
      line-height: 0;
      margin: 20px 0 5px 0;
    }
    font-size: 72px;
    font-family: $lato-font;
    font-weight: bold;
    left: 95px;
    top: -15px;
  }
}

.category {
  font-family: $lato-font;
  font-weight: bold;
  font-size: 16px;
  text-transform: uppercase;
  letter-spacing: 1px;
  color: transparentize($brown, .5);
}

.date {
  font-weight: 300;
  font-size: 16px;
  margin-right: 20px;
}

.slider-button {
  background: transparent;
  width: 45px;
  height: 45px;
  border: 1px solid $brown;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  cursor: pointer;
  transition: background $transition-delay ease;

  svg {
    fill: $brown;
    transition: fill $transition-delay ease;
  }

  &:hover {
    background: $brown;

    svg {
      fill: $white;
    }
  }
}

.swiper-action {
  display: flex;
  padding-top: 10px;

  button:first-child {
    margin-right: 10px;
  }
}

.communication {
  display: flex;
  align-items: center;

  &.communication-light {
    svg {
      fill: $white;
    }

    a {
      border: 1px solid $white;

      &:focus,
      &:hover {
        background: $brown;
        border: 1px solid $brown;

        svg {
          fill: $white;
        }
      }
    }
  }

  &.communication-brown {
    svg {
      fill: $brown;
    }

    a {
      border: 1px solid $brown;

      &:focus,
      &:hover {
        background: $brown;

        svg {
          fill: $white;
        }
      }
    }
  }

  svg {
    transition: fill $transition-delay ease;
  }

  &:not(.communication-small) {
    svg {
      @include respond(0, $mobile) {
        transform: scale(0.7);
      }
    }

    a {
      border-radius: 0 30px 30px 30px;

      &:not(:last-child) {
        @include respond($mobile) {
          margin-right: 20px;
        }
      }

      @include respond($mobile) {
        width: 60px;
        height: 60px;
      }
      @include respond(0, $mobile) {
        width: 45px;
        height: 45px;
      }
    }
  }

  &.communication-small {
    a {
      &:not(:last-child) {
        @include respond($mobile) {
          margin-right: 12px;
        }
      }

      width: 32px;
      height: 32px;

      &:not(:last-child) {
        @include respond($mobile) {
          margin-right: 12px;
        }
      }
    }
  }

  a {
    border-radius: 0 30px 30px 30px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    transition: background $transition-delay ease, border-color $transition-delay ease, border-radius $transition-delay ease;

    &:hover {
      border-radius: 50%;
    }

    &:not(:last-child) {
      @include respond(0, $mobile) {
        margin-right: 14px;
      }
    }
  }
}

.contact-block {
  margin: 22px 0 0;
  padding: 0;
  list-style: none;
  letter-spacing: 1px;
  display: flex;
  flex-direction: column;

  @include respond(0, $mobile) {
    align-items: center;
  }

  svg {
    fill: $brown;

    @include respond(0, $mobile) {
      display: none;
    }
  }

  li {
    display: inline-flex;
    font-weight: 300;
    line-height: 1.389;

    @include respond($mobile) {
      font-size: 18px;
    }

    &:not(:last-child) {
      margin-bottom: 14px;
    }

    svg {
      margin-right: 15px;
      min-width: 10px;
    }

    &:first-child {
      svg {
        transform: translateY(10px);
      }
    }

    &:not(:first-child) {
      svg {
        transform: translateY(9px);
      }
    }
  }
}

.email-link {
  font-size: 21px;
  font-weight: 800;
  color: $brown-light;
  text-decoration: none;
  border-bottom: 1px solid;
  line-height: 1.2;
}

.container-footer {
  flex: 0 0 auto;
}

.button {
  width: 100%;
  height: 60px;
  background: transparent;
  border: none;
  font-family: $lato-font;
  border-radius: 0 30px 30px 30px;
  cursor: pointer;
  display: inline-flex;
  align-items: center;
  text-decoration: none;
  justify-content: center;
  @include respond($mobile) {
    font-size: 16px;
  }
  @include respond(0, $mobile) {
    font-size: 12px;
  }
  line-height: 1.875;
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: .9px;
  transition: border-radius $transition-delay ease;
  user-select: none;

  &:focus,
  &:hover {
    border-radius: 30px;
  }

  &-brown {
    background: $brown;
    color: $white;
    max-width: 190px;
  }

  &-other {
    background: $brown;
    color: $white;
    max-width: 300px;
  }

  &-request {
    background: $brown;
    color: $white;
    max-width: 210px;
  }

  &-wild {
    background: $brown;
    color: $white;
    max-width: 290px;
  }

  &-clear {
    background: transparent;
    max-width: 190px;
    color: $brown;
    box-shadow: inset 0 0 0 1px $brown;
  }

  &-gift {
    background: transparent;
    max-width: 290px;
    color: $white;
    box-shadow: inset 0 0 0 1px $brown;
  }
}

.train {
  position: fixed;
  @include respond($mobile) {
    right: 40px;
    bottom: 40px;
    width: 60px;
    height: 60px;
  }
  @include respond(0, $mobile) {
    //right: 12px;
    //bottom: 84px;
    //width: 50px;
    //height: 50px;
    display: none;
  }
  border-radius: 50%;
  background: $brown;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
  cursor: pointer;
  opacity: 0;
  transition: opacity $transition-delay ease, background $transition-delay ease;

  &:hover {
    background: $brown-light;
  }

  svg {
    transform: rotate(-90deg);
    fill: $white;
  }
}

.fade-in {
  opacity: 1;
}

.brown-text {
  color: $brown;
}

.z-1 {
  z-index: 1;
  position: relative;
}

.more-link_pointer {
  opacity: 0;
  transition: opacity $transition-delay ease;
  font-family: $lato-font;
  color: $brown;
  @include respond($mobile) {
    font-size: 15px;
  }
  @include respond(0, $mobile) {
    font-size: 13px;
  }
  font-weight: bold;
  text-decoration: none;
  text-transform: uppercase;
  margin-left: auto;
  letter-spacing: 1px;
  display: inline-flex;
  align-items: center;

  svg {
    fill: $brown;
    margin-left: 10px;
    transform: translateY(-1px);
  }
}

.connection {
  display: flex;

  &:not(.connection-icons) {
    flex-direction: column;
    padding-top: 20px;

    a {
      max-width: 293px;
      width: 100%;
      min-height: 60px;

      &:not(:last-child) {
        margin-bottom: 10px;
      }
    }

    .t-link {
      svg {
        fill: #0088cc;
      }
    }

    .wt-link {
      svg {
        fill: #25d366;
      }
    }

    .vb-link {
      svg {
        fill: #7360f2;
      }
    }
  }

  &.connection-icons {
    padding-top: 15px;

    svg {
      fill: $white;
    }

    a {
      width: 44px;
      height: 44px;

      &:not(:last-child) {
        margin-right: 15px;
      }
    }
  }

  a {
    padding: 0 12px;
    display: inline-flex;
    align-items: center;
    color: $white;
    font-size: 16px;
    text-decoration: none;
    border-radius: 0 30px 30px 30px;
    transition: border-radius $transition-delay ease;

    &:hover {
      border-radius: 30px;
    }
  }

  .text {
    text-align: center;
    letter-spacing: 1px;
    flex: 1;
  }

  .rounded {
    background: $white;
    width: 34px;
    height: 34px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .t-link {
    background: #0088cc;
  }

  .wt-link {
    background: #25d366;

    svg {
      transform: translateX(1px);
    }
  }

  .vb-link {
    background: #7360f2;
  }
}

.block-relative {
  position: relative;
}

.swiper-slide {
  color: $dark;
  text-decoration: none;
}

.menu-opened {
  overflow: hidden;

  .menu {
    display: block;
  }
}

.menu {
  position: fixed;
  display: none;
  left: 0;
  z-index: 10000;
  right: 0;
  top: 0;
  bottom: 0;
  background: linear-gradient(350deg, #022635, #022635, #003e62, #003d6a);
  overflow: auto;
  padding-top: 66px;

  .container {
    height: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
  }

  .menu-content {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  nav {
    display: flex;
    flex-direction: column;
    align-items: center;

    &:after {
      content: none !important;
    }

    a {
      margin: 5px 0;
    }
  }

  .menu-content svg {
    fill: $brown;
    margin-right: 8px;
  }

  nav {
    margin: 40px 0 20px 0;
    padding-bottom: 20px;
  }

  .links {
    display: flex;
    margin: 20px 0;
    flex-direction: column;

    a:first-child {
      margin-bottom: 18px;
    }

    a {
      font-size: 18px;
    }
  }

  .menu-logo {
    margin-bottom: 10px;
  }

  .menu {
    a {
      font-size: 19px;
      text-decoration: none;
      margin: 5px 0;
    }
  }

  .bolder {
    font-weight: bold;
    font-size: 20px;
  }

  a {
    color: $white;
    text-decoration: none;
    transition: color $transition-delay ease;
    display: inline-flex;
    align-items: center;

    &:hover {
      color: $brown;
    }
  }

  .menu-close_button {
    background: transparent;
    padding: 0;
    border: none;
    cursor: pointer;
    position: absolute;
    right: 0;
    top: 0;
    width: 64px;
    height: 86px;
    display: flex;
    align-items: center;
    justify-content: center;

    svg {
      fill: $white;
    }
  }
}
