@import "mixins";
@import "variables";

.fs-30 {
  @include respond($mobile) {
    font-size: 30px !important;
    line-height: 1.333 !important;
  }
}

.download-button {
  max-width: 248px !important;
}

.why-in_service {
  .why-slider:before {
    border-radius: 0 0 60px 0;
  }
}

.sud-service {
  .button-gift {
    max-width: 313px;
  }

  @include respond($mobile) {
    padding-top: 122px !important;
  }

  .question {
    letter-spacing: 1.4px;
    @include respond($mobile) {
      padding: 25px 0 22px 0;
    }
  }

  .buttons {
    @include respond($mobile) {
      padding-top: 17px !important;
    }
  }

  .annotation {
    max-width: 450px !important;
    padding-top: 16px !important;

    p {
      margin: 0 0 8px 0;
    }

    @include respond($mobile) {
      font-size: 18px;
      line-height: 1.389;
    }
  }
}

.sud-service-wrap {
  @include respond($mobile) {
    padding-top: 70px !important;
  }

  .blog-slider {
    @include respond(0, $mobile) {
      padding-top: 44px;
    }
  }

  .more-link_pointer {
    opacity: 1 !important;
    @include respond($mobile) {
      margin: 45px 0;
    }
    @include respond(0, $mobile) {
      margin: 25px 0;
    }
  }

  .actions {
    display: flex;
    flex-direction: column;
  }

  .button {
    max-width: 217px !important;
  }

  .text {
    font-size: 16px;
    line-height: 1.563;
    margin-top: 41px;
    letter-spacing: .13px;
  }

  .image {
    display: inline-block;
  }

  .title:after {
    bottom: -17px !important;
  }

  .content {
    @include respond($mobile) {
      padding: 0 30px 30px 30px !important;
    }
    @include respond(0, $mobile) {
      padding: 0 20px 20px 20px !important;
    }
  }

  .heading-line span {
    padding-bottom: 18px !important;
  }
}

.sud-text {
  max-width: 342px !important;
}

.advantages {
  position: relative;
  @include respond($mobile) {
    padding: 0 0 115px 0;
  }
  @include respond(0, $mobile) {
    padding: 20px 0 30px 0;
  }

  .advantages-sparks {
    pointer-events: none;
    position: absolute;
    left: 545px;
    top: 174px;
  }

  .fs-36-colored {
    max-width: 465px;
  }

  .grid {
    margin-top: 100px;
    display: grid;
    @include respond($mobile) {
      grid-template-columns: 1fr 1fr 1fr;
      grid-gap: 30px;
    }
    @include respond(720px, $mobile) {
      grid-template-columns: 1fr 1fr;
      grid-row-gap: 80px;
      grid-column-gap: 30px;
    }
    @include respond(0, 720px) {
      grid-template-columns: 1fr;
      grid-gap: 70px;
    }

    .image {
      position: relative;
      overflow: hidden;
      height: 146px;
      margin-bottom: 14px;
    }

    .numbers {
      position: absolute;
      top: -50px;
      z-index: 1;
      padding-left: 64px !important;
      left: 0;
      right: 0;
      margin: auto;
      width: 160px;
    }

    .title {

      font-family: $lato-font;
      font-weight: bold;
      line-height: 1.667;
      @include respond($mobile) {
        font-size: 21px;
        padding-left: 30px;
      }
      @include respond(0, $mobile) {
        font-size: 18px;
        padding-left: 20px;
      }
      border-bottom: 1px solid $brown;
      padding-bottom: 17px;
      display: inline-block;
    }

    .text {
      @include respond($mobile) {
        padding: 25px 30px 30px 30px;
      }
      @include respond(0, $mobile) {
        padding: 20px;
      }
      line-height: 1.6;
    }

    .number-shadow {
      left: 85px;
      top: 11px;
    }

    svg {
      position: absolute;
      right: -3px;
      top: -2px;
      opacity: .7;
    }

    .item {
      position: relative;
      border: 1px solid $brown;
      transition: box-shadow $transition-delay ease;

      @include respond(720px) {
        min-height: 490px;
      }

      &:hover {
        @include respond($mobile) {
          box-shadow: 19.092px 19.092px 51px 0 rgba(150, 117, 60, 0.2), 9.192px 9.192px 24px 0 rgba(150, 117, 60, 0.11);
        }
      }
    }
  }
}

.guaranty {
  @include respond($mobile) {
    padding: 115px 0;
    min-height: 865px;
  }
  @include respond(0, $mobile) {
    padding: 50px 0;
  }

  position: relative;

  .grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(auto, 263px));
    grid-row-gap: 53px;
    grid-column-gap: 29px;
    margin-top: 58px;

  }

  .title {
    @include respond($mobile) {
      font-size: 18px;
    }
    @include respond(0, $mobile) {
      font-size: 16px;
    }
    font-weight: 300;
    line-height: 1.556;
    max-width: 248px;
    letter-spacing: 2px;
  }

  .icons {
    transform: translateX(-28px);
    display: flex;
    align-items: center;

    svg {
      fill: #076449;
    }
  }

  .svg-icon {
    transform: translate(16px, -9px);
  }

  .container {
    position: relative;
  }

  .guaranty-bg {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    pointer-events: none;
    object-fit: cover;

    img {
      height: 100%;
      width: 100%;
      object-fit: cover;
    }
  }

  .heading-line {
    span {
      padding-bottom: 30px;
    }

    span:after {
      right: 0;
    }
  }
}

.sud-team {
  padding-bottom: 70px;
}

.examples {
  @include respond($mobile) {
    padding: 165px 0 95px 0;
  }
  @include respond(0, $mobile) {
    padding: 40px 0 40px 0;
  }

  .columns {
    display: flex;
    @include respond(0, $mobile) {
      flex-direction: column;
    }

    .image {
      max-width: 360px;
      padding: 19px;
      border: 1px solid $brown;
      @include respond($mobile) {
        height: 490px;
      }
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      box-shadow: 19.092px 19.092px 51px 0 rgba(150, 117, 60, 0.2), 9.192px 9.192px 24px 0 rgba(150, 117, 60, 0.11);

      img {
        max-width: 100%;
      }
    }

    .head {
      font-size: 21px;
      font-weight: 600;
      margin-top: -6px;
      margin-bottom: 16px;
    }

    .column:last-child {
      flex: 1;
      @include respond($mobile) {
        font-size: 21px;
      }
      line-height: 1.667;
    }

    .button {
      max-width: 218px;
    }

    .text {
      @include respond($mobile) {
        letter-spacing: 1.2px;

        p {
          margin: 0 0 30px 0;
        }
      }
      @include respond(0, $mobile) {
        p {
          margin: 0 0 18px 0;
        }
      }

    }

    .column:first-child {
      width: 100%;
      @include respond($mobile) {
        max-width: 433px;
      }
    }
  }

  .excerpt {
    font-size: 16px;
    font-weight: 500;
    @include respond($mobile) {
      max-width: 320px;
    }
    @include respond(0, $mobile) {
      margin-bottom: 20px;
    }
    letter-spacing: .8px;
    padding-top: 60px;
    line-height: 1.875;
  }


  .heading-line {
    margin-right: 180px;
  }

  .filter {
    transform: translateY(-6px);
  }

  .heading-line span {
    padding-right: 25px;
    padding-bottom: 12px !important;
  }

  .example-text {
    @include respond($mobile) {
      font-size: 23px;
      padding-top: 21px;
      margin-bottom: 56px;
    }
    @include respond(0, $mobile) {
      font-size: 18px;
      margin-bottom: 30px;
    }
    line-height: 1.522;
    text-align: left;
    font-weight: 500;
  }

}

.read {
  display: none;
  margin-bottom: 35px;
}
