@import "variables";
@import "mixins";

section.team {

  &:not(.frontpage-team) {
    min-height: 831px;

    @include respond($mobile) {
      margin-top: 135px;
    }
    .column:first-child {
      @include respond(1200px) {
        max-width: 515px;
      }
    }

    .content {
      @include respond($mobile) {
        padding: 35px 40px 45px 30px;
      }
    }

    @include respond(1200px) {
      padding-top: 120px;
    }
  }

  &.frontpage-team {
    min-height: 727px;

    .swiper-action {
      @include respond(1044px) {
        margin-top: 144px;
      }
      @include respond(0, 1044px) {
        margin-top: 20px;
      }
    }

    .column:first-child {
      @include respond(1200px) {
        max-width: 422px;
      }
    }

    .content {
      @include respond($mobile) {
        padding: 40px 40px 50px 40px;
      }
    }

    @include respond(1200px) {
      padding-top: 140px;
    }
  }

  @include respond(0, $mobile) {
    margin-top: 50px;
  }
  @include respond($mobile) {
    background: url(../images/team.png) no-repeat center / cover;
  }

  @include respond($mobile, 1200px) {
    padding-top: 60px;
  }

  .columns {
    @include respond($mobile) {
      display: flex;
    }
  }

  .column:first-child {
    width: 100%;
    @include respond($mobile, 1200px) {
      max-width: 390px;
    }

    .text {
      @include respond($mobile) {
        font-size: 21px;
        padding-top: 25px;
      }
      @include respond(0, $mobile) {
        font-size: 16px;
        padding-top: 12px;
      }
      line-height: 1.429;
      letter-spacing: 2px;
      font-weight: 300;

      @include respond($mobile) {
        max-width: 355px;
      }

      p {
        margin-bottom: 1.5em;
      }
    }
  }

  .column:last-child {
    position: relative;
    @include respond($mobile) {
      margin-right: -$container-padding;
    }

    @include respond(0, $mobile) {
      margin-top: 30px;
    }
    @include respond($mobile) {
      flex: 1;
      width: 50%;
    }
  }

  .swiper-slide {
    @include respond(900px) {
      max-width: 560px;
      width: 100%;
    }
    display: flex;
    @include respond(0, 600px) {
      flex-direction: column;
    }

    .more-link_pointer {
      margin-top: auto;
      @include respond(0, 600px) {
        display: none;
      }
    }

    background: $white;
    box-shadow: 2.121px 2.121px 6px 0 rgba(150, 117, 60, 0.14), 8.485px 8.485px 13px 0 rgba(150, 117, 60, 0.07);
    transition: box-shadow $transition-delay ease, opacity ($transition-delay * 2) ease;

    &:hover {
      box-shadow: 19.092px 19.092px 51px 0 rgba(150, 117, 60, 0.2), 9.192px 9.192px 24px 0 rgba(150, 117, 60, 0.11);

      .more-link_pointer {
        opacity: 1;
      }
    }

    .content {
      background: $white;
      @include respond(0, $mobile) {
        padding: 20px;
      }
      flex: 1;
      overflow: hidden;
      display: flex;
      flex-direction: column;
    }

    .role {
      margin: 28px 0;
      line-height: 1.563;
      font-size: 16px;
      font-weight: 300;
      @include respond(0, 600px) {
        display: none;
      }
    }

    .text {
      @include respond(0, 600px) {
        display: none;
      }
      line-height: 1.389;
      @include respond($mobile) {
        font-size: 18px;
      }
      @include respond(0, $mobile) {
        font-size: 16px;
      }
      padding-bottom: 15px;
      font-weight: 300;
      flex: 1;
    }

    .title {
      font-family: $lato-font;
      color: $dark;
      text-decoration: none;
      max-width: 200px;
      font-weight: bold;
      @include respond($mobile) {
        font-size: 21px;
      }
      @include respond(0, $mobile) {
        font-size: 18px;
      }
      line-height: 1.429;
      position: relative;
      margin-bottom: 8px;

      &:before {
        content: '';
        position: absolute;
        bottom: -8px;
        right: 0;
        left: -100%;
        height: 1px;
        background: $brown-light;
      }
    }

    img {
      display: block;
      max-width: 100%;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  .swiper-wrapper {
    @include respond($mobile) {
      padding-bottom: 85px;
    }
    @include respond(0, $mobile) {
      padding-bottom: 45px;
    }
  }

  .team-slider {
    padding-top: 30px;
    overflow: visible;
  }

  h1 {
    @include respond($mobile, 1200px) {
      font-size: 44px;
    }
  }

}

.swiper-pagination-bullets {
  display: flex;
}

.team-pagination {
  @include respond(900px, $mobile) {
    margin-left: 35px;
  }
  @include respond(0, 900px) {
    display: none;
  }
}

.team-slider_wrapper {
  @include respond(1200px) {
    padding-left: 68px;
  }
  @include respond($mobile, 1200px) {
    padding-left: 30px;
  }
  @include respond(900px) {
    padding-top: 25px;
  }
  @include respond(1200px) {
    overflow: hidden;
  }

  &:before {
    content: '';
    position: absolute;
    height: 170px;
    @include respond(900px) {
      left: 0;
      right: 0;
      border-bottom-left-radius: 60px;
    }
    @include respond(0, 900px) {
      left: -15px;
      right: -15px;
    }
    pointer-events: none;
    top: 0;
    background: transparentize($brown, .9);
  }
}
