@import "../fonts";
@import "variables";
@import "mixins";

.heading-line {
  font-family: $lato-font;
  font-weight: bold;

  &.fs-40-black {
    @include respond($mobile) {
      font-size: 40px;
    }
    @include respond(0, $mobile) {
      font-size: 28px;
    }
    span {
      padding-bottom: 12px;

      &:after {
        right: 0;
      }
    }
  }

  &.fs-40-black-right {
    @include respond($mobile) {
      font-size: 40px;
    }
    @include respond(0, $mobile) {
      font-size: 28px;
    }
    span {
      padding-bottom: 25px;

      &:after {
        right: -999px;
        left: 0;
      }
    }
  }

  &.fs-36-black {
    @include respond($mobile) {
      font-size: 36px;
    }
    @include respond(0, $mobile) {
      font-size: 28px;
    }
    span {
      padding-bottom: 21px;
      &:after {
        right: 0;
      }
    }
  }

  &.r-pd0 {
    span {
      &:after {
        right: 0;
      }
    }
  }

  &.r-pd {
    span {
      &:after {
        right: 114px;
      }
    }
  }

  br {
    @include respond(0, $mobile) {
      display: none;
    }
  }

  span {
    position: relative;
    display: inline-block;

    &:after {
      position: absolute;
      content: '';
      height: 1px;
      background: $brown-light;
      left: -9999px;
      bottom: 0;
      display: block;
    }
  }
}

h2 {
  margin: 0;
}

h1 {
  font-family: $lato-font;
  margin: 0;
}

.fs-60 {
  @include respond($mobile) {
    font-size: 60px;
    line-height: 0.833;
  }
  @include respond(0, $mobile) {
    font-size: 36px;
    line-height: 1;
  }

  span {
    padding-bottom: 24px;
  }
}

.large-heading {
  @include respond($mobile) {
    font-size: 55px;
    line-height: 1.182;
  }
  @include respond(0, $mobile) {
    font-size: 32px;
    line-height: 1.2;
  }

  br {
    @include respond(0, $mobile) {
      display: none;
    }
  }

  span {
    position: relative;
    color: $brown-light;
    padding-bottom: 10px;
    @include respond($mobile) {
      &:not(.inline) {
        display: block;
      }
    }

    &:after {
      position: absolute;
      content: '';
      height: 1px;
      background: $brown-light;
      left: -999px;
      bottom: 0;
      right: 0;
      display: block;
    }
  }
}

.fs-40 {
  line-height: 1.25;
  @include respond($mobile) {
    font-size: 40px;
  }
  @include respond(0, $mobile) {
    font-size: 26px;
  }

  span {
    color: $brown-light;
    padding-bottom: 10px;
    @include respond($mobile) {
      &:not(.inline) {
        display: block;
      }
    }
  }
}

.fs-40-pd-30 {
  line-height: 1.25;
  @include respond($mobile) {
    font-size: 40px;
  }
  @include respond(0, $mobile) {
    font-size: 26px;
  }
  span {
    color: $brown-light;
    padding-bottom: 30px;
    @include respond($mobile) {
      display: block;
    }
  }
}

.small-text {
  @include respond($mobile) {
    font-size: 21px;
  }
  @include respond(0, $mobile) {
    font-size: 16px;
  }
  font-weight: 300;
  line-height: 1.429;
  letter-spacing: 1px;
}

.light-21 {
  font-weight: 300;
  @include respond($mobile) {
    font-size: 21px;
  }
  @include respond(0, $mobile) {
    font-size: 16px;
  }
  line-height: 1.667;
}

.bold-24 {
  font-weight: bold;
  font-size: 24px;
  line-height: 1.667;
}
