$default-font: Gilroy, sans-serif;
$lato-font: Lato, sans-serif;

$white: #fff;
$dark: #373844;
$container-padding: 15px;
$container-width: 1140px + ($container-padding * 2);
$logo-background: #172a2b;
$brown: #d7a550;
$brown-light: #e7b96a;

$transition-delay: 180ms;

$mobile: 1044px;